.url  {
    cursor: auto;
    cursor: url(./zeni_images/zenicursornormal.png) 4 12, auto;
  }
  
.urlpoint  {
    cursor: text;
    cursor: url(./zeni_images/zenicursorpointer.png) 2 2, pointer;
  }
@font-face {
    font-family: 'Coco Gothic Ultralight';
    src: url('Coco-Gothic-Ultralight-trial.ttf');
}
@font-face {
    font-family: 'Coco Gothic Bold';
    src: url('Coco-Gothic-Bold-trial.ttf');
}

body {
    background-image: url(./zeni_images/zenihaoripattern.png);
    cursor: url(./zeni_images/shrinkzenicursornormal.png) 4 12, auto;
  }
h1 {
    text-align: center;
    font-family: 'Coco Gothic Ultralight';
    font-size: 55px;
    color: rgb(87, 62, 17);
    background: rgb(255, 255, 255);
    opacity: 0.8;
    background-clip: content-box; 
    border: 3px white dashed;
  }
p {
    text-align: center;
    font-family: 'Coco Gothic Bold';
    font-size: 15px;
    letter-spacing: 1.3px;
    color: rgb(87, 62, 17);
}
label {
    text-align: center;
    font-family: 'Coco Gothic Bold';
    font-size: 15px;
    letter-spacing: 1.3px;
    color: rgb(87, 62, 17);
    background: rgb(189, 235, 250);
    opacity: 0.8;
    background-clip: content-box; 
    border: 3px white dashed;
}
input {
    margin: auto;
    text-align: center;
    font-variant-numeric: slashed-zero;
    font-size: 15px;
    color: rgb(87, 62, 17);
    cursor: url(./zeni_images/shrinkzenicursorpointer.png) 2 2, auto;
}

.parent-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#physical {
    margin-left: 13px;
}

.calculate {
    margin-left: 159px;
}
